body {
  font-family: 'Quicksand', sans-serif;
  margin:0;
  box-sizing: border-box;
  height:100%;
  width:100%
}

/********************Login***************************/
.login {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  min-height: 100vh;
}
.login__brand-wrapper{
  min-width: 50vw;
  min-height: 100vh;
  align-self: center;
  display: grid;
  align-content: center;
  justify-items: center;
  color: #f1f1f1;;
  background-color:#303233;
  
}
.login__brand-wrapper h3{
  margin: 1px 0;
}
.login__credentials-wrapper{
  display: grid;
  min-width: 50vw;
  grid-template-rows: repeat(4,1fr);
}
.login__form-title{
  margin:0;
}
.login__form{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(4,0.5fr);
  grid-row: 2/span 2;
  margin:0 200px;
}
.login__email,.login__password{
  display:grid;
  width:100%;
  grid-template-rows:repeat(2,1fr);
}
.login__email span, .login__password span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__email input, .login__password input{
  height:40px;
  font-family: 'Quicksand', sans-serif;
  border-radius:5px;
  padding: 0 10px;
  border:none;
  background-color:#F7F7F7;
}

.login__email input:focus,.login__password input:focus{
  outline:none;
  border:none;
  border-bottom: 3px solid #303233;
}
.login__submit-btn{
  width: 100%;
  height:45px;
  padding: 1px 2px;
  font: inherit;
  font-size: large;
  font-weight: bold;
  border:none;
  border-radius:5px;
}
.login__submit-btn:hover{
  cursor: pointer;
  color:#F7F7F7;
  background-color: #303233;
}
/**************************************header*******************************************/
.header__header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #303233;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;
  color:#F7F7F7;
  height:10vh;
  padding:0 15px;
}
.header__brand{
  display:flex; 
  grid-column: 1/3;
  align-items: center;
}
.header__brand h2{
  margin-left:10px;
}
.header__button{
  display: flex;
  width:130px;
  color: #F7F7F7;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  grid-column: 12/12;
  overflow-x: hidden;
  border-radius: 20px;
  width:45px;
  height:45px;
  position:relative;
  padding:1px;
}
.header__button img{
  border:3px solid #F7F7F7;
  padding:2px;
  width:30px;
  height:30px;
  z-index:1;
  border-radius: 20px;
}

.header__button h4{
  display: none;
  color:#303233;
  left:20px;
  margin:0;
  position:absolute;
  /* border:2px solid #F7F7F7; */
  background-color:#F7F7F7;
  padding:5px 15px 5px 23px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
.header__button:hover{
  cursor: pointer;
  transition: all 0.5 ease-out linear;
  width:120px;
}
.header__button:hover img{
  border:3px solid #F1483E;
}
.header__button:hover h4{
  display: block;
}

/*************************Main***************************************/

.main{
  display:grid;
  grid-template-columns: repeat(16,1fr);
  height:90vh;
  margin-top:10vh;
}

/******************************sideNavigation*********************************/

.sideNavigation{
  grid-column: 1/4;
  background-color:#F7F7F7;
  background-color:#bdb9b7;
}
.sideNavigation__items{
  display:grid;
  margin:10px 20px;
  padding:0;
  grid-template-rows: repeat(2,1fr);
  justify-items: start;
  list-style-type: none;
}
.sideNavigation__item{
  display:grid;
  grid-template-columns: 0.50fr 1fr;
  width:100%;
  margin:10px 0;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  cursor: pointer;
  border:2px solid #bdb9b7;
  border-radius: 5px;
}

.sideNavigation__item:hover{
  border:2px solid #F7F7F7;
  border-radius: 5px;
}
.active{
  background-color: #f4CC54;
  border:2px solid #f4CC54;
  border-radius: 5px;
}
/*******************************************Dashboard*********************************/
.dashboard{
  grid-column: 4/17;
  padding:0 20px;
  overflow-y: scroll;
}

.dashboard__tables{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap:20px;
  margin: 20px 0;  
}
.dashboard__table-wrapper{
  display:flex;
  flex-direction: column;
}
.dashboard__table-wrapper > h2{
  border-radius:5px;
  background-color: #f4CC54;
  padding:10px;
  margin-bottom:5px;
}
.dashboard__table-wrapper > table{
  height:300px
}

th{
  background-color: #F7F7F7;
}
td{
  text-align: center;
  border-bottom: 2px solid #F7F7F7;
}
td > h5{
  padding:3px;
  margin:0;
  border-radius: 5px;
}
.pending{
  color:#F7F7F7;
  padding:2px;
  border: 2px solid #bdb9b7;
  background-color:#b72821;
}
.paid{
  color:#F7F7F7;
  padding:2px;
  border: 2px solid #bdb9b7;
  background-color: #087149;
}
.dashboard__invoice-number{
  display:flex;
  align-items: center;
  justify-content: space-around;
  color:#2287E3;
}
.dashboard__message{
  background-color: #FEE1E2;
  padding:10px 5px;
  text-align: center;
  border-radius: 5px;
  color:#FD8D8F;
}
.dashboard__unpaid-invoices{
  margin-bottom:15px;
}
td > button {
  background: none;
  font: inherit;
  color:#2287E3;
  border:2px solid #2287E3;
  border-radius:5px;
  cursor: pointer;
  padding:5px;
}
td > button:hover{
  color:#F7F7F7;
  background-color: #2287E3;
}

/*************************************Customers*******************************************/
.customers{
  display:grid;
  grid-template-columns: 0.50fr 1fr;
  grid-column: 4/17;
}
.customers__list-wrapper{
  background-color:#F7F7F7;
  /* margin: 10px 10px 0 10px; */
  /* border-left:3px solid #bdb9b7; */
  overflow-y: scroll;
}
.customers__list{
  display:grid;
}
.customers__list > p{
  color:#000000;
  text-align: center;
  vertical-align: middle;
}

.customers__AddCustomer{
  display:flex;
  color:#2287E3;
  flex-direction: column;
  height:150px;
  background-color: #D4E2F2;
  border:2px solid #2287E3;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  padding:5px;
  margin:10px;
}
/*************************************AddCustomerForm*******************************************/

.form__image{
  margin-top:30px;
}
.customer-info{
  display:flex;
  flex-direction: column;
  padding:20px 50px;
  background-color: #D4E2F2;
  margin:10px 10px 0 10px;
  border-top: 3px solid #2287E3;
  max-height:84vh;
  overflow-y: scroll;
}
.customer-info__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.customer-info__header img{
  margin-right: 5px;
}
.customer-info__back-btn{
  font:inherit;
  display:flex;  color:#F7F7F7;
  background-color: #2287E3;
  border:2px solid #2287E3 ;
  border-radius: 20px;
  padding:2px 10px;
  cursor: pointer;
}
.customer-info__back-btn:hover{
  color:#2287E3;
  background-color: #F7F7F7;
}

.customer-info__form-title{
  margin:11px 0;
}
.customer-info__form{
  display:grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-gap:20px;
}
.customer-info__input{
  display:grid
}
.customer-info__input > span{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.customer-info__input > input::placeholder{
  font-size: large;
  padding-left: 10px;
}
.customer-info__input > input{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  margin:0 2px;
  padding:5px;
  background-color:#F7F7F7;
  border:none;
  border-radius: 5px;
  border-bottom:3px solid #FFFFFF;
}
.customer-info__input > input:focus{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  margin:0 2px;
  background-color:#F7F7F7;
  outline:none;
  border:none;
  border-bottom:3px solid #2287E3;
}
.customer-info__submit-btn{
  background-color:#2287E3;
  font: inherit;
  font-size: large;
  color:#F7F7F7;
  border:2px solid #2287E3 ;
  border-radius:5px;
  cursor: pointer;
  padding:10px 40px;
  margin: 15px 0;
  grid-column: span 2;
}

/*************************************customer*******************************************/
.customer{
  display:grid;
  height:120px;
  border:2px solid #F7F7F7;
  border-radius: 5px;
  padding:5px;
  margin:10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.customer__header{
  display:flex;
  color:#000;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f4CC54; */
  border-top-left-radius: 5px;
  border-top-right-radius:5px;

}
.customer__main,.customer__footer{
  padding:0px 5px;
  background-color: #F7F7F7;
}
.customer__logos{
  display:grid;
  grid-template-columns:0.25fr 0.50fr;
  justify-content: space-around;
  align-items: center;
}
.customer__logos img{
  margin-right:5px;
}
.customer__name{
  align-items: center;
  overflow-x: hidden;
  display: flex;
  border-radius: 20px;
  width:29px;
  height:29px;
  position:relative;
}
.customer__name img{
  z-index:1;
  border-radius: 20px;
}
.customer__name h5,.customer__name h3{
  left:20px;
  width:150px;
  position:absolute;
  background-color:#f4CC54;
  padding:7px 15px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
.customer__name:hover{
  cursor: pointer;
  transition: all 0.5 ease-out;
  width:150px;
}
.customer__rule{
  height:1px;
  background-color:#bdb9b7;
  margin:1px 5px;
}
.customer__logos h3{
  margin:2px 0;
}

.customer__taxnumber p,.customer__address p{
  margin:0px;
}
.customer__footer-btns{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px
}
.customer__footer button{
  font: inherit;
  border:2px solid #bdb9b7;
  border-radius:5px;
  cursor: pointer;
}
.customer__details{
  text-decoration: none;
  font: inherit;
  border:2px solid #bdb9b7;
  border-radius:5px;
  cursor: pointer;
  font: inherit;
  background-color: #2e6ba5;
  color:#F7F7F7;
  padding:1px 6px;
}
.customer__details:hover{
  background-color: #2287E3;
}
.customer__edit{
  color:#F9F9F9;
  background-color: #087149;
}
.customer__delete{
  color:#F9F9F9;
  background-color: #b72821;
}
.customer__edit:hover{
  background-color: #37C68E;
}
.customer__delete:hover{
  background-color: #F1483E;
}
.customer__taxnumber{
  display:flex;
  justify-content: space-between;
}
.customer__address{
  display:flex;
  justify-content: space-between;
}
.customer__footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/*************************************SearchBar************************************/
.search{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  margin:10px;
  background-color: #f4CC54;
  border-radius: 5px;
  padding:0px 3px;
  /* border:2px solid #303233; */
  cursor:pointer;
}

.search__input{
  font-family: 'Quicksand',sans-serif;
  font-size: large;
  width:100%;
  height:38px;
  background-color: #f4CC54;
  border:none;
}
.search__input::placeholder{
  color:#000000;
  font-size:medium;
  padding: 2px;
}
.search__input:hover{
  outline:none;
  background-color: #FFFFFF;
}
.search__input:focus{
  outline:none;
}
.search img{
  margin:0 8px;
}
.search__voice-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.blinking {
  position:absolute;
  animation:1s blink ease 5;
  left:1px;
  top:-29px
}
@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.hidden{
  display:none;
}
/*********************************Invoices**********************************/
.invoices{
  display:grid;
  grid-template-columns: 0.50fr 1fr;
  grid-column: 4/17;
}
.invoices__list-wrapper{
  background-color:#F7F7F7;
  /* margin: 10px 10px 0 10px;
  border-top:3px solid #bdb9b7; */
  overflow-y: scroll;
}
.invoices__list{
  display:grid;
}
.invoices__list > p{
  color:#000000;
  text-align: center;
  vertical-align: middle;
}

.invoices__AddInvoice{
  display:flex;
  color:#2287E3;
  flex-direction: column;
  height:150px;
  background-color: #D4E2F2;
  border:2px solid #2287E3;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  padding:5px;
  margin:10px;
}
/*************************************AddInvoiceForm*******************************************/

.form__image{
  margin-top:30px;
}
.invoice-info{
  display:flex;
  flex-direction: column;
  padding:20px 50px;
  background-color: #D4E2F2;
  margin:10px 10px 0 10px;
  border-top: 3px solid #2287E3;
  max-height:84vh;
  overflow-y: scroll;
}
.invoice-info__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-info__header img{
  margin-right: 5px;
}
.invoice-info__back-btn{
  font:inherit;
  display:flex;  color:#F7F7F7;
  background-color: #2287E3;
  border:2px solid #2287E3 ;
  border-radius: 20px;
  padding:2px 10px;
  cursor: pointer;
}
.invoice-info__back-btn:hover{
  color:#2287E3;
  background-color: #F7F7F7;
}

.invoice-info__form-title{
  margin:11px 0;
}
.invoice-info__form{
  display:grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px;
}
.invoice-info__input{
  display:grid
}
.invoice-info__input-table{
  display:grid;
  grid-column:span 2;
}
.invoice-info__input-table > div{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-table{
  width:100%;
}
.invoice-table__header > th{
  background-color: #f4CC54;
  /* border-radius: 5px; */
}
.invoice-table__footer > td{
  border:2px solid #F7F7F7;
  /* border-radius: 5px; */
  /* background-color: #F7F7F7; */
}
.invoice-table__footer > td:nth-child(3),.invoice-table__footer > td:nth-child(4){
  background-color: #f4CC54;
}
.invoice-table__row{
  border:none;
  padding:0;
}
.invoice-info__input-table input{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  width:95%;
  padding:4px;
  text-align: center;
  background-color:#F7F7F7;
  border:none;
  /* border-radius: 5px; */
  border-bottom:3px solid #FFFFFF;
}
input[name='description']{
  width:300px;
}
.invoice-info__input-table  input::placeholder{
  text-align:center;
  font-size: medium;
  /* padding-left: 10px; */
}
.invoice-info__input-table input:focus{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  background-color:#F7F7F7;
  outline:none;
  border:none;
  border-bottom:3px solid #2287E3;
}
.invoice-info__input > span{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.invoice-info__input > input::placeholder{
  font-size: large;
  padding-left: 10px;
}
.invoice-info__input > input{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  margin:0 2px;
  padding:5px;
  background-color:#F7F7F7;
  border:none;
  border-radius: 5px;
  border-bottom:3px solid #FFFFFF;
}
.invoice-info__input > input:focus{
  font-family: 'Quicksand',sans-serif;
  height:28px;
  margin:0 2px;
  background-color:#F7F7F7;
  outline:none;
  border:none;
  border-bottom:3px solid #2287E3;
}
.invoice-info__submit-btn{
  background-color:#2287E3;
  font: inherit;
  font-size: large;
  color:#F9F9F9;
  border:2px solid #2287E3 ;
  border-radius:5px;
  cursor: pointer;
  padding:10px 40px;
  margin: 15px 0;
  grid-column: span 2;
}
/* .invoice-info__submit-btn:hover{
  color:#2287E3;
  background-color: #F7F7F7;
} */
/*************************************Invoice*******************************************/
.invoice{
  display:grid;
  height:120px;
  /* border:2px solid #bdb9b7; */
  border-radius: 5px;
  padding:5px;
  margin:10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.invoice__header{
  display:flex;
  color:#000;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f4CC54; */
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.invoice__footer{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
}
.invoice__number{
  display:flex;
}
/* .invoice__number p{
  cursor: pointer;
  color:#2287E3;
} */
.invoice__main,.invoice__footer{
  display:flex;
  justify-content: space-between;
  padding:5px 5px;
  background-color: #F7F7F7;
}
.invoice__main p{
  margin:0;
}

.invoice__logos{
  display:grid;
  grid-template-columns:0.25fr 0.50fr;
  justify-content: space-around;
  align-items: center;
}

.invoice__name{
  align-items: center;
  overflow-x: hidden;
  display: flex;
  border-radius: 20px;
  width:29px;
  height:29px;
  position:relative;
}
.invoice__name img{
  z-index:1;
  border-radius: 20px;
}
.invoice__rule{
  height:1px;
  background-color:#bdb9b7;
  margin:1px 5px;
}
.invoice__logos h3{
  margin:2px 0;
}
.invoice__name h5,.invoice__name h3{
  left:20px;
  width:max-content;
  position:absolute;
  background-color:#f4CC54;
  padding:7px 15px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
.invoice__name:hover{
  cursor: pointer;
  transition: all 0.5 ease-out;
  width:150px;
}
.invoice__footer-btns{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px
}
.invoice__footer button{
  font: inherit;
  border:2px solid #bdb9b7;
  border-radius:5px;
  cursor: pointer;
}

.invoice__details{
  text-decoration: none;
  font: inherit;
  border:2px solid #bdb9b7;
  border-radius:5px;
  cursor: pointer;
  font: inherit;
  background-color: #2e6ba5;
  color:#F9F9F9;
  padding:1px 6px;
}
.invoice__details:hover{
  background-color: #2287E3;
  
}
.invoice__edit{
  color:#F9F9F9;
  background-color: #087149;
  
}
.invoice__delete{
  color:#F9F9F9;
  background-color: #b72821;
}
.invoice__edit:hover{
  background-color: #37C68E;
}
.invoice__delete:hover{
  background-color: #F1483E;
  
}
/********************************************* DetailedInvoice **********************************/
.DetailedInvoice{
  background-color: #F7F7F7;
  grid-column: 4/17;
  padding:20px 40px;
}
.DetailedInvoice__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
}
.DetailedInvoice__back-btn{
  display:flex;
  align-items: center;
  cursor:pointer;
  color:#2287E3;
}
.DetailedInvoice__back-btn span{
  margin-left: 5px;
}
.DetailedInvoice__action-btns{
  display:grid;
  grid-template-columns: 1fr;
}

.DetailedInvoice__download span{
  margin-left: 5px;
}
.DetailedInvoice__download{
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color:#F7F7F7;
  background-color: #2287E3;
  padding:4px;
}
.DetailedInvoice__download:hover{
  background-color: #303233;
}
.DetailedInvoice__address-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}
.DetailedInvoice__address h3{
  margin:8px 0;
}
.DetailedInvoice__address address{
  display:flex;
  flex-direction: column;
}
.DetailedInvoice__address address p{
  margin:0;
}
.DetailedInvoice__details{
  display:grid;
  grid-template-columns: 0.25fr 1fr;
}
.DetailedInvoice__details p{
  margin: 5px 0;
}
hr{
  background-color:#303233;
}
.DetailedInvoice__table-wrapper{
  display:grid;
  grid-column:span 2;
}
.DetailedInvoice__table > div{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.DetailedInvoice__table{
  width:100%;
}
.DetailedInvoice__table-header > th{
  padding:5px 0;
  background-color: #f4CC54;
}
.DetailedInvoice__table-footer > td{
  border:2px solid #F7F7F7;
}
.DetailedInvoice__table-footer > td:nth-child(3),.DetailedInvoice__table-footer > td:nth-child(4){
  padding:5px 0;
  background-color: #f4CC54;
}
.DetailedInvoice__row{
  border:2px solid #F7F7F7;
  padding:5px 0;
  background-color: #FFF;
}
/************************************* Loaders *************************************/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.lds-default {
  z-index:1;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  left:170px;
  top:80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #303233;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/********************************************* DetailedCustomer **********************************/
.detailedCustomer{
  grid-column: 4/17;
  padding:20px 40px;
  background-color: #F7F7F7;
}
.detailedCustomer__back-btn{
  display:flex;
  align-items: center;
  cursor:pointer;
  color:#2287E3;
}
.detailedCustomer__rule{
  width:100%;
}
.detailedCustomer__header img{
  border-radius:100px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
.detailedCustomer__main-content{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2,1fr);
  padding:20px 0;
  margin-top: 30px;
  /* background-color: #bdb9b7; */
}
.detailedCustomer__Info-card-wrapper{
  display:grid;
  justify-items: center;
  grid-gap:30px;
  
}
.detailedCustomer__main{
  width:90%;
}
.detailedCustomer__row-wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.detailedCustomer__row{
  display:flex;
  align-items: center;
}
.detailedCustomer__row img{
  margin-right: 5px;
}
.detailedCustomer__column{
  display:grid;
  justify-items: flex-end;
}
.detailedCustomer__stats-wrapper{
  display:grid;
}
.detailedCustomer__stats{
  display:grid;
  grid-template-columns: repeat(2,0.5fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap:40px;
}
.detailedCustomer__stats-row{
  display:grid;
  grid-template-rows: 0.50fr 0.50fr;
  /* grid-gap:50%; */
  border-radius: 5px;
  border:2px solid #bdb9b7;
  padding:5px;
}

.detailedCustomer__stats-row h3{
  margin:0;
  border-radius: 5px;
  color:#303233
}
.detailedCustomer__stats-row-title{
  background-color: #f4CC54;
  text-align: center;
  padding:10px 10px;
}
.detailedCustomer__stats-row-num{
  margin:0;
  color:#303233;
  text-align: center;
}
